/* Para esconder as páginas que não estamos utilizando*/
.hiden {
    display: none;
}
.fog {
    opacity: 0.3;
}
.red {
    color: red;
}
.green {
    color: green;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    font-family: roboto, sans-serif;
}

/* CSS do header */
header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    padding-top: 13px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* CSS da caixa que agrupa o conteúdo principal */
article.main-content {
    width: 71%;
    height: 100%;
    margin-top: 69px;
    margin-left: auto;
    margin-right: auto;
}

/* CSS da parte de criar quizz */
section.new-quiz {
    width: 100%;
    height: 181px;
    margin-top: 146px;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FAFAFA;
    text-align: center;
}
.new-quiz p {
    font-size: 20px;
    line-height: 23px;
    margin-top: 33px;
    color: #B9B9B9;
}
.new-quiz div {
    width: 151px;
    height: 40px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed #EC362D;
    border-radius: 50px;

    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC362D;
}
/* User quizzes */
.user-quizzes {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
}
/* "Todos os Quizzes"*/
.all-quizzes {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
}
.main-content h1 {
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
}
/* CSS para as imagens principais */
.quiz-main {
    width: 340px;
    height: 181px;
    position: relative;
    margin-bottom: 12px;
    border-radius: 5px;  
    background: linear-gradient(transparent, black);
}
.all-quizzes img, .user-quizzes img {
    width: 340px;
    height: 181px;  
    border-radius: 5px;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.description {
    position: absolute;
    left: 18px;
    bottom: 10px;
    word-break: break-word;
    width: 301px;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}

/* CSS dos quizzes do usuário */
.wrap {
    display: flex;
}
.wrap img {
    width: 33px;
    height: 33px;
    margin-top: 45px;
    margin-left: 25px;
    position: relative;
    z-index: 0;
}

/* CSS da imagem banner (página do quiz - tela 2)*/
.quiz-page-image {
    width: 100%;
    height: 220px;
    position: relative;
    margin-top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0);
}
.quiz-page-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 60%;
}
.quiz-page-description {
    position: absolute;
    font-size: 19px;
    line-height: 46px;
    color: #FFFFFF;
    word-break: break-word;
}
/* parte que vai agrupar todos os cards */
.quiz-questions {
    max-width: 759px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
}
/* CSS  dos cards de perguntas e respostas*/
.border-style {
    width: 100%;
    padding: 25px;
    margin-bottom: 70px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.question-description {
    width: 100%;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    word-break: break-word;
    color: #FFFFFF;
}
.all-answers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    box-sizing: border-box;
}
.answer {  
    max-width: 345px;
    margin: 15px 0 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    word-break: break-word;
}
.answer img { /* CSS para as imgs da resposta */
    width: 345px;
    height: 175px;
    object-fit: cover;
}

/* CSS da parte que mostra o resultado */
.quiz-result {
    width: 760px;
    height: 430px;
    padding: 18px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}
.result-description {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;

    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    word-break: break-word;
    color: #FFFFFF;
}
.result-info {
    display: flex;
    margin-top: 18px;
}
.result-info img {
    width: 364px;
    height: 273px;
    object-fit: cover;
    margin-right: 15px;
}
.result-info p {
    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    word-break: break-word;
    color: #484848;   
}

/* botão reiniciar quiz */
.reset-quiz-button {
    width: 260px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 57px;
    background-color: #EC362D;
    border-radius: 15px;

    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF5F4;
}
/* botão voltar para home */
.homepage-button {
    margin-top: 25px;
    font-size: 21px;
    line-height: 25px; 
    text-align: center;
    color: #818181;
}




/* CSS das páginas de criação de quizz */
.creating-quizz {
    margin-top: 69px;
    margin-left: auto;
    margin-right: auto;
}

.creating-quizz h1{
    margin-top: 71px;
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 23px;
}

.screen1-creating-quizz, .screen2-creating-quizz, .screen3-creating-quizz {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.creating-quizz input {
    width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 9px;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
}

.next {
    width: 368.86px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    border:none;
    margin-top: 65px;
    font-size: 21px;
    color: #FFF5F4;
}

/* CSS das páginas de criação de quizz - pág 2 */
h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 10px;
}

.spaceCss {
    margin-top: 20px;
}

.question-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 564px;
}

.question-name button {
    background-color: #FAFAFA;
    border: none;
}

.iconeQuiz {
    font-size: 35px;
    color: #000000;
}

.containerReal {
    display: flex;
    flex-direction: column;
}

.img-quiz-ready {
    width: 500px;
    height: 266px;
}

.fourth-page .description {
    z-index: 4;
}

@media (max-width: 1100px) {

.creating-quizz input {
    width: 341px;
}

.next {
    width: 324px;
}

.img-quiz-ready{
    width: 340px;
}

.question-name {
    width: 375px;
}
 /* TELA 1 */
article.main-content {
    width: 95%;
}
.allign-middle {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}
.all-quizzes, .user-quizzes {
    display: flex;
    flex-wrap: wrap;
}
.wrap {
    display: flex;
    justify-content: space-between;
}
.user-quizzes .quiz-main {
    margin-left: auto;
    margin-right: auto;
}
/* TELA 2 */
.quiz-questions {
    max-width: 759px;
}
.quiz-result {
    max-width: 759px;
}
.all-answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0.01em;
}
.answer img { /* CSS para as imgs da resposta */
    max-width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
}